
/*** 

====================================================================
	Main Footer
====================================================================

***/

.main-footer:before{
	position:absolute;
	content:'';
	left:0px;
	top:-30px;
	right:0px;
	height:38px;
	background:url(../images/background/footer-bg.png) repeat-x;
}
	
.main-footer{
	position:relative;
	background-color:var(--color-five);
}

.footer_pattern{
	background-position:left center;
	background-repeat: no-repeat;
}

.footer_pattern_two{
	position: absolute;
	right: 0px;
	top: 0px;
	width: 347px;
	height: 741px;
	background-repeat: no-repeat;
}

.main-footer .inner-container{
	position:relative;
}

/* Newsletter Box */

.newsletter-box{
    position: relative;
	margin-top:35px;
}

.newsletter-box .form-group {
    position: relative;
    margin: 0px;
    width: 100%;
    max-width: 100%;
}

.newsletter-box .form-group input[type="text"],
.newsletter-box .form-group input[type="email"] {
    position: relative;
    line-height: 43px;
    display: block;
    height: 64px;
    width: 100%;
	border-radius: 50px;
    box-shadow: inherit;
    font-size: 16px;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    padding: 10px 30px;
    color:var(--white-color);
    background: rgba(var(--white-color-rgb), 0.10);
}

.newsletter-box .form-group button {
    position: absolute;
    right: 5px;
    top: 5px;
	width:55px;
	height:55px;
	border-radius:50px;
    font-weight: 500;
	text-align: center;
    display: inline-block;
    font-size: 28px;
    color: var(--white-color);
    text-transform: uppercase;
	border-radius: 50px;
    background-color: var(--color-two);
	font-family: "flaticon_mycollection";
}

.newsletter-box .form-group button:hover{
	background-color: var(--color-three);
}



.footer-logo{
	position: relative;
	margin-bottom: 30px;
}

.footer-text{
	position: relative;
	color: var(--white-color);
}

.footer_socials{
	position: relative;
	margin-top: 25px;
}

.footer_socials a{
	position: relative;
	width: 42px;
	height: 42px;
	font-size:18px;
	margin-right: 2px;
	line-height: 42px;
	text-align: center;
	border-radius: 50px;
	display: inline-block;
	color: var(--white-color);
	font-family: 'Font Awesome 5 Brands';
}

.footer_socials a:hover{
	color: var(--white-color);
	background-color: var(--color-three);
}

.main-footer .widgets-section{
	position:relative;
	padding:50px 0px 30px;
}

.footer-title{
	position: relative;
	margin-top: 10px;
	margin-bottom: 20px;
	color: var(--white-color);
	text-transform: capitalize;
}

.footer-column{
	position: relative;
	margin-bottom: 25px;
}

.footer-list{
	position: relative;
}

.footer-list li{
	position: relative;
	margin-bottom: 15px;

}

.footer-list li:last-child{
	margin-bottom: 0px;
}

.footer-list li a{
	position: relative;
	font-size: 18px;
	color: var(--white-color);
	transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
}

.footer-list li a::before{
	position: absolute;
	content: '\f058';
	left: 0px;
	top: -2px;
	opacity: 0;
	font-weight: 800;
	font-size:14px;
	color: var(--color-two);
	font-family: 'Font Awesome 6 Free';
	transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
}

.footer-list li a:hover::before{
	opacity: 1;
}

.footer-list li a:hover{
	color: var(--color-two);
	padding-left: 20px;
}

/* News Widget */

.news-widget-block{
	position: relative;
	min-height: 70px;
	padding-left: 85px;
	margin-bottom: 25px;
}

.news-widget_image{
	position: absolute;
	left: 0px;
	top: 2px;
	width: 70px;
	overflow: hidden;
}

.news-widget_title{
	position: relative;
	font-weight: 600;
	margin-top:5px;
}

.news-widget_title a{
	position: relative;
	color: var(--white-color);
}

.news-widget_post-date{
	position: relative;
	font-weight: 400;
	font-size: 14px;
	color: var(--white-color);
	padding-left: 25px;
	margin-top: 5px;
}

.news-widget_post-date::before{
	position: absolute;
	content: '\f017';
	left: 0px;
	font-size:16px;
	font-weight: 700;
	color: var(--color-two);
	font-family: 'Font Awesome 6 Free';
}

.news-widget-block:last-child{
	margin-bottom: 0px;
}

.news-widget_title a:hover{
	color: var(--color-two);
}

.footer-contact_list{
	position: relative;
}

.footer-contact_list li{
	position: relative;
	line-height: 28px;
	font-size: 16px;
	color: var(--white-color);
	padding-left: 30px;
	margin-bottom: 15px;
}

.footer-contact_list li .icon{
	position: absolute;
	left: 0px;
	top: 5px;
	line-height: 1em;
	color: var(--color-two);
}

.footer-bottom{
	position: relative;
	padding: 20px 0px;
	background-color: var(--color-seven);
}

.footer-bottom:before{
	position: absolute;
	content:'';
	right:0px;
	top:0px;
	bottom:0px;
	width:200%;
	border-radius:0px 15px 0px 0px;
	background-color: #2d2c24;
}

.main-footer_copyright{
	position: relative;
	font-size: 16px;
	color: var(--white-color);
}

.main-footer_copyright a{
	position: relative;
	color: var(--color-two);
}

.footer_column{
	position: relative;
	margin-bottom: 30px;
}


.footer-bottom_nav{
	position:relative;
	padding-right:35px;
}

.footer-bottom_nav li{
	position:relative;
	margin-left:15px;
	display:inline-block;
}

.footer-bottom_nav li a{
	position:relative;
	font-size: 16px;
	color: var(--white-color);
}

.footer-bottom_nav li a:hover{
	color: var(--color-two);
}

.footsub{
	color:white;
	padding-bottom:20px;
}

.footsubpra{
	color:white;
	padding-bottom:10px;
}

.footsubpratwo{
	color:white;
	padding-top:10px;
}

.foot-bottom:hover{
	color:rgb(131,192,66);
}

.footer-logo{
	width:75%;
}